* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #090400;
  color: white;
  font-family: "Inter var", sans-serif;
}

.btn-action {
  width: 150px;
  padding: 8px;
  border-radius: 20px;
  color: #121212;
  font-weight: 700;
  background-color: #ECD11D;
  transition-duration: 200ms;
}

.btn-action:hover {
  color: white;
  border: 2px solid #ECD11D;
  background-color: transparent;
}

/* Header : nav */
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 30px;
  height: 30px;
  margin-right: 12px;
}

.profile {
  display: flex;
  align-items: center;
}


.profile input {
  margin-right: 12px;
  padding: 8px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 4px;
}

.profile img {
  width: 40px;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

/*Headline Section */

.headline {
  width: 100%;
  min-height: 600px;
  background-image: url('./images/background.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.headline .wrapper {
  padding-left: 20px;
  padding-top: 80px;
}

.headline h6 {
  color: #BDBDBD;
  font-size: 1rem;
}

.headline h2 {
  color: #ECD11D;
  font-size: 2.4rem;
}

.headline p {
  color: #F3F3F3;
  font-size: 1.2rem;
}

.headline .btn-action {
  margin-top: 60px;
}

.activities {
  width: 100%;
  min-height: 300px;
  padding: 24px;
}

.list-activity {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-right: 24px;
  margin-left: 24px;
}

.activity {
  width: 250px;
  height: 100%;
  min-height: 300px;
  background-color: #262420;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 12px;
  padding-right: 12px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.activity .separator {
  display: flex;
  height: 4px;
  width: 60px;
  border-radius: 2px;
  justify-self: center;
  background-color: rgb(165, 165, 165);
}

.activity h3 {
  font-size: 1.4rem;
  color: #BDA400;
  margin-top: 8px;
  margin-bottom: 24px;
}

.activity p {
  padding: 8px;
  font-size: 1rem;
  color: #BDBDBD;
}

.btn-connect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border: 2px solid #BDA400;
}

.btn-connect p {
  color: #BDA400;
}

.btn-connect img {
  width: 40px;
  height: 40px;
}

.bg-dark {
  background-color: #040404;
}

.bg-dark h3 {
  font-size: 1.2rem;
}



/* Mobile version : changes */

@media screen and (max-width: 560px) {
  .profile {
    display: none;
  }

  .headline {
    background-position: right;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./images/background.png');
  }
}